pandas>=2.2
numpy>=1.26
pyarrow>=16
psycopg2-binary>=2.9.9
sqlalchemy>=2.0
faker>=25.0
xgboost>=2.0
lightgbm>=4.3
scikit-learn>=1.4
shap>=0.46
networkx>=3.3
python-louvain>=0.16
fastapi>=0.110
uvicorn[standard]>=0.29
pydantic>=2.7
streamlit>=1.35
plotly>=5.22
pyvis>=0.3.2
prometheus-client>=0.20
pyyaml>=6.0
tqdm>=4.66
python-dotenv>=1.0
